Package: laptop-backlight
Version: INSTALL_VERSION
Section: custom
Priority: optional
Architecture: INSTALL_ARCH
Installed-Size: INSTALL_SIZE
Maintainer: Michal Skrha <michal@skrha.cz>
Description: Simple utility used to get current backlight of the laptop screen.
